.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 103px auto 60px;
}.u-section-2 .u-sheet-1 {
  min-height: 870px;
}

.u-section-2 .u-table-1 {
  margin-top: -206px;
  margin-bottom: 60px;
}

.u-section-2 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-2 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-5 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-6 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-7 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-8 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-9 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-10 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-11 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-12 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-13 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-14 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-15 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-16 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-17 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-18 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-19 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-20 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-21 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-22 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-23 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-24 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-25 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-26 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-27 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-28 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-29 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-30 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-31 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-32 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-33 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-34 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-35 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-36 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-37 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-39 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-40 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-41 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-43 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-44 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-45 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-47 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-48 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-49 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-51 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-52 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-53 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-55 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-56 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-57 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-59 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-60 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-61 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-63 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-64 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-65 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-66 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-67 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-68 {
  font-weight: 700;
}